
@import url("/css/share.css");
@import url("/css/index.css");



.member{


clear:both;
width:960px;
}

.member .left{
float:left;
width:185px;

}


.member .left .left_top{

}

.member .left .left_top .hd{

background:url(/images/member_tit01.jpg) no-repeat;
height:5px;

}

.member .left .left_top .bd{

background:url(/images/member_center01.jpg) repeat-y;
width:185px;

}


.member .left .left_top .ft{

background:url(/images/member_bottom01.jpg);
background-position:no-repeat;
height:10px;
width:182px;


}


.member .left .left_second{
}

.member .left .left_second .hd{
background:url(/images/member_tit02.jpg) no-repeat;
height:39px;
color:#fff;
font-size:14px;
font-weight:bold;
line-height:39px;
padding-left:30px;

}

.member .left .left_second .bd{
background:url(/images/member_center02.jpg) repeat-y;
}

.member .left .left_second .bd ul{
 margin:0px 5px;
 padding:8px;
}


.member .left .left_second .bd li{
 border-bottom: dashed 1px #cccccc;
 height:21px;
 line-height:21px;
 padding:2px 12px;
 background:url(/images/dian_red.jpg) no-repeat left;
}

.member .left .left_second .bd li.color a{
font-weight:bold;
 
}



.member .left .left_second .ft{
background:url(/images/member_bottom02.jpg) no-repeat;
height:10px;


}




.member .right{
float:right;
width:767px;

}


.member .right .right_cont{
width:767px;
}

.member .right .right_cont .hd{
background:url(/images/member_tit03.jpg);
height:17px;

}

.member .right .right_cont .bd{
background:url(/images/member_center03.jpg) repeat-y;
}

.member .right .right_cont .ft{
background:url(/images/member_bottom03.jpg) no-repeat;
height:17px;
}

.member .right .right_cont h2{
 margin:0px auto;
 background:url(/images/h2.jpg) no-repeat bottom;
 height:20px;
 width:720px;
 padding:5px;
 font-weight:bold;
}


.member .right .right_cont .bd .bd_bd{
padding:10px 5px;

}


.member .right .right_cont .bd table td{
 line-height:25px;
 
}


.member .right .right_cont .bd .bd_bd .table{
border:0;

}

.member .right .right_cont .bd .bd_bd .table td{
border:0;

}



.member .right .right_cont .bd .bd_bd table{
width:95%;
margin:0 auto;
border-top:1px solid #D8D8D8;
border-right:1px solid #D8D8D8;
}

.gd_th
{
    padding:2px 2px 2px 15px;
    line-height:25px;
    border-bottom:#d8d8d8 1px solid;
    border-left:#d8d8d8 1px solid;
}

.member .right .right_cont .bd  .bd_bd table td{
border-left:1px solid #D8D8D8;
border-bottom:1px solid #D8D8D8;
padding:2px;
padding-left:15px;

}

.member .right .right_cont .bd .bd_bd table thead{
background:#F9F9F9;
font-weight:bold;

}

.member .right .right_cont .bd .bd_bd table tbody{
padding:2px;
padding-left:15px;
height:30px;

}


.member .right .right_cont .bd .bd_bd table tfoot td{
border-right:none;

}

.member .table1{
border:1px solid #DCDFE5;

}

.member .table1 thead td{
background:#506BA3;
padding:2px;
padding-left:15px;
color:#fff;
height:30px;

}

.member .table1 tbody td{
border-bottom:1px solid #A5AFC3;
padding:5px;
padding-left:15px;
height:70px;

}

.member .table1 tbody .tr1 td{
border-bottom:1px solid #A5AFC3;
padding:5px;
padding-left:15px;
height:70px;

}



.member .table1 tbody .tr1:hover td{
background:#EFF4FF;

}


.member .table1 tbody .td1 img{
padding:2px;
border:1px solid #ccc;
width:47px;
height:47px;

}

.member .table1 tfoot {
padding:5px;
padding-left:15px;
height:70px;

}

.plan .bd1 h2{
border-bottom:1px solid #9CB4D6;
 background:url(/images/dian03.gif) no-repeat;
 padding:0px 10px 5px 20px;
 height:20px;
width:900px;
margin:15px auto;
clear:both;

font-weight:bold;
color:#2750AB;
width:90%;
 
}
.plan .bd1 h2 span{
float:right;
 font-weight:normal;
 font-size:12px;
}

.plan .bd1 .table2{

}

.plan .bd1 .table2 td{
height:30px;
padding:2px; 
padding-left:15px;

}

.plan .bd1 .table2 .td1{
  
  width:150px;
  text-align:right;
  color:#7F7F7F;
  font-size:14px;

}
.plan .bd1 .table2 .td1 em{
  
color:red;

}

.plan .bd1 .table3 {
  
border:1px solid #AACDED;
}
 

.plan .bd1 .table3 thead td{
  
background:#EBF4FB;
padding:2px;
padding-left:15px;
height:30px;

}
 
.plan .bd1 .table3 tbody td{
  padding:2px;
padding-left:15px;
height:30px;
border-left:1px solid #AACDED;
border-bottom:1px solid #AACDED;
border-top:1px solid #AACDED;
}
 
 
 
 
 .plan .bd{
 position:relative;
 }

  .plan .bd .bd_top{
 position:absolute;
 background:url(/images/login_tit.jpg) no-repeat;
 width:151px;
 height:29px;
 }


 .anniu01_small2 {
background:url(/images/anni1_small02.jpg) no-repeat scroll 0 0 transparent;
border:0 none;
color:#0F0000;
height:21px;
line-height:22px;
text-align:center;
width:50px;
}