<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
	</configSections>
	<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
		<rewrites>
			<!---产品中心-->
      <add name="RuleMemberProductEvaluateList" virtualUrl="^~/Product/(\d+)-(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product/MemberProductEvaluateList.aspx?ID=$1&amp;Page=$2" ignoreCase="true"/>
            <add name="RuleProductDiy" virtualUrl="^~/Product/diy_(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product/diy.aspx?ID=$1" ignoreCase="true" />
			<add name="RuleProductDetail" virtualUrl="^~/Product/(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product/detail.aspx?ID=$1" ignoreCase="true"/>
			<add name="RuleProductList" virtualUrl="^~/Product/(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-2-(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product/list.aspx?BigID=$1&amp;SmallID=$2&amp;ThirdCategoryID=$3&amp;VirtualCategoryID1=$4&amp;VirtualCategoryID2=$5&amp;VirtualCategoryID3=$6&amp;VirtualCategoryID4=$7&amp;VirtualCategoryID5=$8&amp;VirtualCategoryID6=$9&amp;VirtualCategoryID7=$10&amp;VirtualCategoryID8=$11&amp;VirtualCategoryID9=$12&amp;VirtualCategoryID10=$13&amp;OrderType=$14&amp;ShowType=2&amp;Page=$15" ignoreCase="true"/>
			<add name="RuleProductListPic" virtualUrl="^~/Product/(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-1-(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product/list_pic.aspx?BigID=$1&amp;SmallID=$2&amp;ThirdCategoryID=$3&amp;VirtualCategoryID1=$4&amp;VirtualCategoryID2=$5&amp;VirtualCategoryID3=$6&amp;VirtualCategoryID4=$7&amp;VirtualCategoryID5=$8&amp;VirtualCategoryID6=$9&amp;VirtualCategoryID7=$10&amp;VirtualCategoryID8=$11&amp;VirtualCategoryID9=$12&amp;VirtualCategoryID10=$13&amp;OrderType=$14&amp;ShowType=1&amp;Page=$15" ignoreCase="true"/>
			<add name="RuleProductIndex" virtualUrl="^~/Product/?" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product/default.aspx" ignoreCase="true"/>
            <!---解答中心 -->
			<add name="RuleQaDetail" virtualUrl="^~/Qa/(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Qa/detail.aspx?ID=$2" ignoreCase="true"/>
			<add name="RuleQaList" virtualUrl="^~/Qa/(\d+)-(\d+)-(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Qa/list.aspx?CategoryID=$1&amp;Page=$3" ignoreCase="true"/>
			<add name="RuleQaIndex" virtualUrl="^~/Qa/?" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Qa/default.aspx" ignoreCase="true"/>
			<!---方案中心 -->
			<add name="RuleProgramDetail" virtualUrl="^~/Program/(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Program/detail.aspx?ID=$1" ignoreCase="true"/>
			<add name="RuleProgramList" virtualUrl="^~/Program/(\d+)-(\d+)-(\d+)-(\d+)-(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Program/list.aspx?ApplicationFlag=$1&amp;FirstCategoryID=$2&amp;SecondCategoryID=$3&amp;OrderType=$4&amp;Page=$5" ignoreCase="true"/>
			<add name="RuleProgramIndex" virtualUrl="^~/Program/?" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Program/default.aspx" ignoreCase="true"/>
			<!---关于我们 -->
			<add name="RuleCorpDetail" virtualUrl="^~/Corp/(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Corp/detail.aspx?ID=$1" ignoreCase="true"/>
			<add name="RuleCorpIndex" virtualUrl="^~/Corp/?" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Corp/default.aspx" ignoreCase="true"/>
			<!---下载中心 -->
			<add name="RuleDownDetail" virtualUrl="^~/Down/(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Down/detail.aspx?ID=$1" ignoreCase="true"/>
			<add name="RuleDownList" virtualUrl="^~/Down/(\d+)-(\d+)-(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Down/list.aspx?CategoryID=$1&amp;OrderType=$2&amp;Page=$3" ignoreCase="true"/>
			<add name="RuleDownIndex" virtualUrl="^~/Down/?" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Down/default.aspx" ignoreCase="true"/>
			<!---技术支持 -->
			<add name="RuleTechDetail" virtualUrl="^~/Tech/(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Tech/detail.aspx?ID=$1" ignoreCase="true"/>
			<add name="RuleTechList" virtualUrl="^~/Tech/(\d+)-(\d+)-(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Tech/list.aspx?CategoryID=$1&amp;OrderType=$2&amp;Page=$3" ignoreCase="true"/>
			<add name="RuleTechIndex" virtualUrl="^~/Tech/?" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Tech/default.aspx" ignoreCase="true"/>
			<!---新闻中心 -->
			<add name="RuleNewsDetail" virtualUrl="^~/News/(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/News/detail.aspx?ID=$1" ignoreCase="true"/>
			<add name="RuleNewsList" virtualUrl="^~/News/(\d+)-(\d+)-(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/News/list.aspx?CategoryID=$1&amp;OrderType=$2&amp;Page=$3" ignoreCase="true"/>
			<add name="RuleNewsIndex" virtualUrl="^~/News/?" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/News/default.aspx" ignoreCase="true"/>
			<!---帮助中心 -->
			<add name="RuleHelpDetail" virtualUrl="^~/help/(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/help/detail.aspx?ID=$1" ignoreCase="true"/>
			<add name="RuleHelpList" virtualUrl="^~/help/(\d+)-(\d+)-(\d+).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/help/list.aspx?CategoryID=$1&amp;Page=$3" ignoreCase="true"/>
			<add name="RuleHelpIndex" virtualUrl="^~/help/?" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/help/default.aspx" ignoreCase="true"/>
			<!--首页
      <add name="RuleIndex" virtualUrl="^~/" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/default.aspx" ignoreCase="true"/>
      -->
		</rewrites>
	</urlrewritingnet>
	<connectionStrings>
		<add name="ConnectionString" connectionString="server=.\MSSQL2000;database=gongkongshop2011;uid=sa;pwd=721521"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"></compilation>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms name=".gongkongshop.com" protection="All" timeout="20160" path="/" slidingExpiration="true"/>
		</authentication>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
			<controls>
				<add tagPrefix="webdiyer" assembly="AspNetPager" namespace="Wuqi.Webdiyer"/>
				<add tagPrefix="fckeditorv2" assembly="FredCK.FCKeditorV2" namespace="FredCK.FCKeditorV2"/>
				<add tagPrefix="gk" src="~/Controls/ControlProductLeft.ascx" tagName="ProductLeft"/>
				<!--<gk:ProductLeft ID="ProductLeft1" runat="server" />-->
        <add tagPrefix="gk" src="~/Controls/ControlProductList.ascx" tagName="ProductList"/>
        <!--<gk:ProductList ID="ProductList1" runat="server" />-->
        <add tagPrefix="gk" src="~/Controls/ControlProductBrand.ascx" tagName="ProductBrand"/>
        <!--<gk:ProductBrand ID="ProductBrand1" runat="server" />-->

        <add tagPrefix="gk" src="~/Controls/ControlProductCommend.ascx" tagName="ProductCommend"/>
				<!--<gk:ProductCommend ID="ProductCommend1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlProductRelation.ascx" tagName="ProductRelation"/>
				<!--<gk:ProductRelation ID="ProductRelation1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlTop.ascx" tagName="Top"/>
				<!--<gk:Top ID="Top1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlTop_Channel.ascx" tagName="Top_Channel"/>
				<!--<gk:Top_Channel ID="Top_Channel1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlBoot.ascx" tagName="Boot"/>
				<!--<gk:Boot ID="Boot1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlBootHelp.ascx" tagName="BootHelp"/>
				<!--<gk:BootHelp ID="BootHelp1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlBootFriendLink.ascx" tagName="BootFriendLink"/>
				<!--<gk:BootFriendLink ID="BootFriendLink1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlCheckCode.ascx" tagName="CheckCode"/>
				<!--<gk:CheckCode ID="CheckCode1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlNavigator.ascx" tagName="Navigator"/>
				<!--<gk:Navigator ID="Navigator1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlSlide.ascx" tagName="Slide"/>
				<!--<gk:Slide ID="Slide1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlAD.ascx" tagName="AD"/>
				<!--<gk:AD ID="AD1" runat="server" Width="" Height="" Category="" />-->
				<add tagPrefix="gk" src="~/Controls/ControlAdminSEO.ascx" tagName="AdminSEO"/>
				<!--<gk:AdminSEO ID="AdminSEO1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlAdminTag.ascx" tagName="AdminTag"/>
				<!--<gk:AdminTag ID="AdminTag1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlAdminIndustry.ascx" tagName="AdminIndustry"/>
				<!--<gk:AdminIndustry ID="AdminIndustry1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlAdminMedium.ascx" tagName="AdminMedium"/>
				<!--<gk:AdminMedium ID="AdminMedium1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlAdminUpload.ascx" tagName="AdminUpload"/>
				<!--<gk:AdminUpload ID="AdminUpload1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlAdminMember.ascx" tagName="AdminMember"/>
				<!--<gk:AdminMember ID="AdminMember1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlAdminGoBack.ascx" tagName="AdminGoBack"/>
				<!--<gk:AdminGoBack ID="AdminGoBack1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlAdminParam.ascx" tagName="AdminParam"/>
				<!--<gk:AdminParam ID="AdminParam1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlAdminParamSearch.ascx" tagName="AdminParamSearch"/>
				<!--<gk:AdminParamSearch ID="AdminParamSearch1" runat="server" />-->
				<add tagPrefix="gk" src="~/Controls/ControlChannelIndexCategory.ascx" tagName="ChannelIndexCategory"/>
				<!--<gk:ChannelIndexCategory ID="ChannelIndexCategory1" runat="server" />-->
			</controls>
		</pages>
		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
		</httpModules>
		<globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
        <httpRuntime requestValidationMode="2.0"/>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear/>
				<add value="default.aspx"/>
				<add value="index.php"/>
				<add value="Default.htm"/>
				<add value="Default.asp"/>
				<add value="index.htm"/>
				<add value="index.html"/>
				<add value="iisstart.htm"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
